<div class="profile" data-th-fragment="menu-profile-quick-info" ng-app="paramapp" ng-controller="paramNotification" >
    <div class="profile  text-center" data-th-fragment="menu-profile-quick-info">
	    <div class=" text-center">
	        <img  src="/images/logo.png" alt="..." class=" text-center img-circle " width="110" height="110">
	    </div>
		<div class="text-center">
		       <h3 style="font-family: Time news roman;color: white;" ng-cloak> {{notification.libelle}}  </h3>
		</div>
 </div>
</div>