<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3 style="font-family: Bell MT">Menu Secretaire</h3>
        <ul class="nav side-menu">
        
              <li class="active"><a><i class="fa fa-graduation-cap"></i>Inscription<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="forminscription">Nouvel etudiant</a></li>
                </ul>
              </li>
             
              <li><a href="formrechercher"><i class="fa fa-bar-chart"></i>Rechercher etudiant</a></li>
              <li><a href="formnoteue"><i class="fa fa-bar-chart"></i>Saisie note par UE</a></li>
              <li><a href="formnoteetudiant"><i class="fa fa-book"></i>Saisie note par etudiant</a></li>
	          <li><a href="#"><i class="fa fa-bar-chart"></i> </a></li>
	          
	         <li><a><i class="fa fa-print"></i> Menu des impressions <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formimpression2s">Liste des impressions</a></li>
                    <li><a href="formreleverimp2s">Liste des Releves</a></li>
                </ul>
             </li>
         </ul>
    </div>
     

</div>