<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3 style="font-family: Bell MT">Menu Etudiant</h3>
        <ul class="nav side-menu">
        
              <li><a><i class="fa fa-graduation-cap"></i>Inscription / Reincription<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="layout">Tableau de board</a></li>
                    <li><a href="formreinscription">Reinscription parcours</a></li>
                </ul>
              </li>
              <li><a href="formuechoisi"><i class="fa fa-bar-chart"></i>Choisir UE proposer</a></li>
	          <li><a href="formprogramation"><i class="fa fa-bar-chart"></i>Liste UE programmer</a></li>
              <li><a href="formconsulter"><i class="fa fa-book"></i>Consulter note semestrielle</a></li><!-- 
	          <li><a href="formconsultervalider"><i class="fa fa-bar-chart"></i>Liste des UE valides </a></li>
	          <li><a href="/formimprimer"><i class="fa fa-bar-chart"></i>Releve de note partiel </a></li> -->
	          
         </ul>
    </div>
     

</div>