<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          
            <li><a><i class="fa fa-clone"></i>Profil informaticien <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/sauvegarde2"><i class="fa fa-database"></i>Sauvergarde des donnes<span></span></a></li>
                    <li><a href="/restauration2"><i class="fa fa-cloud-download"></i>Restauration de donnee<span></span></a></li>
                </ul>
            </li><br/>
        </ul>
    </div>
     

</div>