<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section" style="font-family: Garamond;font-weight: bold;">
        <h3 style="font-family: Times New Roman">Fonctionalite systeme</h3>
        <ul class="nav side-menu">
          
            <li><a><i class="fa fa-home"></i> Menu principal <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="layout">Tableau de bord</a></li>
                     <li><a><i class="fa fa-address-book-o"></i>Information <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
			                <li><a href="formsocietes">Information Societe</a></li>
			                 <li><a href="formscrussales">Gerer les Scrussales</a></li>
			            </ul>
			        </li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Menu general <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formannee">Gerer les Exercices</a></li>
                    <li><a href="formperiodes">Gerer les Periodes</a></li>
                    <li><a><i class="fa fa-user"></i>Menu Utilisateurs <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
			                <li><a href="formuser">Gerer Profils Utilisateurs</a></li>
			            </ul>
			        </li>
                </ul>
            </li>
            
           <li><a><i class="fa fa-table"></i>Donnee de Reference<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formreglements">Mode de Reglement</a></li>
                    <li><a href="formtvas">Parametre TVA</a></li>
                    <li><a href="formtstatutcommandes">Statut Commande</a></li>
                    <li><a href="formtstatutlivraisons">Statut Livraison</a></li>
                    <li><a href="formbanques">Gestion des Banques</a></li>
                </ul>
            </li>
            
            <li><a><i class="fa fa-table"></i> Parametrage Magasin <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                
                    <li><a href="formtypes">Ajouter Type Magasin</a></li>
                    <li><a href="formmagasins">Ajouter Magasin</a></li>
                </ul>
            </li>
       
          <li><a><i class="fa fa-table"></i>Gestion Comptable<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                     <li><a href="formjournals">Journal Comptable </a></li>
                      <li><a href="formpieces">Type Piece </a></li>
                       <li><a href="formcomptabilites">Parametrage Plan Comptable</a></li>
                   
                </ul>
            </li>
           
      
            <li><a><i class="fa fa-table"></i>Gestion du Stock<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formconditionnements">Conditionnement Produit</a></li>
                    <li><a href="formgroups">Groupe de Produit</a></li>
                    <li><a href="formsousgroups">Sous Groupe Produit</a></li>
                    <li><a href="formarticles">Gestion des Articles</a></li>
                    <li><a href="formstocks">Attribution du Stock</a></li>
                    <li><a href="formproduits">Stock Par Scrussale</a></li>
                    <li><a href="formentreestock">Approvisionement Stock</a></li>
                </ul>
            </li>
            
              <li><a><i class="fa fa-print"></i> Menu des Clients <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formgestionnaires">Gestionnaire Clients</a></li>
                    <li><a href="formgroupclients">Group de Clients</a></li>
                    <li><a href="formclients">Ajout Client</a></li>
                </ul>
            </li>
            
             <li><a><i class="fa fa-graduation-cap"></i> Ventes et Livraison <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formcommerces">Gestion des Proforma</a></li>
                    <li><a href="formventes">Gestion des Ventes</a></li>
                     <li><a href="formlivraisons">Gestion des Livraisons</a></li>
                </ul>
            </li>
            
               <li><a><i class="fa fa-graduation-cap"></i> Prestation de Service <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formtypeprestations">Type de Prestation</a></li>
                    <li><a href="formprestations">Gestion des Prestations</a></li>
                </ul>
            </li>
            
            <li><a><i class="fa fa-clipboard"></i>Comptabilite<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                <li><a href="formecritureperiode">Entrer une Ecriture </a></li>
                    <li><a href="formecritures">Validation des Ecritures </a></li>
					<!-- <li><a href="formpasserecritures">Passer une Ecritures </a></li> -->
					<li><a href="formpaiements">Reglement Facture Client</a></li>
                </ul>
            </li>
            
            <li><a><i class="fa fa-clipboard"></i>Inventaire Stock<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="forminventaires">Saisie Inventaire</a></li>
					<li><a href="formvalidations">Validation des Inventaires</a></li>
                </ul>
            </li>
        
<!--             <li><a><i class="fa fa-money"></i>Entree En Stock<span class="fa fa-chevron-down"></span></a> -->
<!--                 <ul class="nav child_menu"> -->
<!--                     <li><a href="formmotif2">Gerer Les Fournisseurs</a></li> -->
<!--                     <li><a href="formmotif2">Commande des Articles</a></li> -->
<!--                     <li><a href="formfrais2"> Reception Facture Fourniseur </a></li> -->
<!--                 </ul> -->
<!--             </li> -->
        </ul>
    </div>
    <div class="menu_section">
        <h3 style="font-family: Bell MT">Operation du Systeme</h3>
        <ul class="nav side-menu">
            <li><a href="sauvegarde"><i class="fa fa-database"></i>Sauvergarde des donnees<span></span></a></li>
            <li><a href="restauration"><i class="fa fa-cloud-download"></i>Restauration de donnee<span></span></a></li>
        </ul>
    </div>

</div>