<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section" style="font-family: Garamond;font-weight: bold;">
        <h3 style="font-family: Times New Roman">Fonctionalite systeme</h3>
        <ul class="nav side-menu">
          
            <li><a><i class="fa fa-home"></i> Menu principal <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="layout">Tableau de bord</a></li>
                     <li><a><i class="fa fa-address-book-o"></i>Information <span class="fa fa-chevron-down"></span></a>
		                <ul class="nav child_menu">
			                <li><a href="formsocietescp">Information Societe</a></li>
			                 <li><a href="formscrussalescp">Gerer les Scrussales</a></li>
			            </ul>
			        </li>
                </ul>
            </li>
           
           <li><a><i class="fa fa-table"></i>Donnee de Reference<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formreglementscp">Mode de Reglement</a></li>
                    <li><a href="formtvascp">Parametre TVA</a></li>
                    <li><a href="formtstatutcommandescp">Statut Commande</a></li>
                    <li><a href="formtstatutlivraisonscp">Statut Livraison</a></li>
                    <li><a href="formbanquescp">Gestion des Banques</a></li>
                </ul>
            </li>
            
            <li><a><i class="fa fa-table"></i> Parametrage Magasin <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                
                    <li><a href="formtypescp">Ajouter Type Magasin</a></li>
                    <li><a href="formmagasinscp">Ajouter Magasin</a></li>
                </ul>
            </li>
       
      
            <li><a><i class="fa fa-table"></i>Gestion du Stock<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formconditionnementscp">Conditionnement Produit</a></li>
                    <li><a href="formgroupscp">Groupe de Produit</a></li>
                    <li><a href="formsousgroupscp">Sous Groupe Produit</a></li>
                    <li><a href="formarticlescp">Gestion des Articles</a></li>
                    <li><a href="formstockscp">Attribution du Stock</a></li>
                    <li><a href="formproduitscp">Stock Par Scrussale</a></li>
                </ul>
            </li>
            
              <li><a><i class="fa fa-print"></i> Menu des Clients <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formgestionnairescp">Gestionnaire Clients</a></li>
                    <li><a href="formgroupclientscp">Group de Clients</a></li>
                    <li><a href="formclientscp">Ajout Client</a></li>
                </ul>
            </li>
            
             <li><a><i class="fa fa-graduation-cap"></i> Ventes et Livraison <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formcommercescp">Gestion des Proforma</a></li>
                    <li><a href="formventescp">Gestion des Ventes</a></li>
                     <li><a href="formlivraisonscp">Gestion des Livraisons</a></li>
                </ul>
            </li>
            
               <li><a><i class="fa fa-graduation-cap"></i> Prestation de Service <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="formtypeprestationscp">Type de Prestation</a></li>
                    <li><a href="formprestationscp">Gestion des Prestations</a></li>
                </ul>
            </li>
            
            <li><a><i class="fa fa-clipboard"></i>Comptabilite<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
<!--                     <li><a href="formecritures">Validation des Ecritures </a></li> -->
					<!-- <li><a href="formpasserecritures">Passer une Ecritures </a></li> -->
					<li><a href="formpaiementscp">Reglement Client</a></li>
                </ul>
            </li>
            
   
        
<!--             <li><a><i class="fa fa-money"></i>Entree En Stock<span class="fa fa-chevron-down"></span></a> -->
<!--                 <ul class="nav child_menu"> -->
<!--                     <li><a href="formmotif2">Gerer Les Fournisseurs</a></li> -->
<!--                     <li><a href="formmotif2">Commande des Articles</a></li> -->
<!--                     <li><a href="formfrais2"> Reception Facture Fourniseur </a></li> -->
<!--                 </ul> -->
<!--             </li> -->
        </ul>
    </div>
    <div class="menu_section">
        <h3 style="font-family: Bell MT">Operation du Systeme</h3>
        <ul class="nav side-menu">
            <li><a href="sauvegarde"><i class="fa fa-database"></i>Sauvergarde des donnees<span></span></a></li>
            <li><a href="restauration"><i class="fa fa-cloud-download"></i>Restauration de donnee<span></span></a></li>
        </ul>
    </div>

</div>